# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build output
dist/

# Prisma generated client
# (keep schema.prisma but ignore generated output)

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Misc
DOCUMENTACION TECNICA FRONTEND.md

README.MD
